@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');



.header{
  background-color: blue;
  text-align: center;
}

.Footer{
  background-color: brown;
  text-align: center;
}

.btn-primary{
  text-align: center;
}


.child{
  /* text-align: center;  */
 
  right: 10px;
}

.parent{
  position: absolute;
  left: 300px;
  top: 20px;
   
}


.Avatarstyle img{
  width: 200px;
  height: 200px;
}




.heading{
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
}

h1{
  font-family: 'Sansita Swashed', cursive;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2rem);
}


p{
  font-family: 'Sansita Swashed', cursive;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2rem);
}


.btn{
  width: 10rem;
  height: 3rem;
  background-color: #c29525;
  /* border: none; */
  font-family: 'Muli', serif;
  font-size: 2rem;
  text-transform: uppercase;
  color:#fff;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2rem);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4rem);
  cursor: pointer;
}




body{
  background-color: black;
}






